.custom-q-date-WDJR, .custom-q-date-WTUR .q-date__header {
    background-color: #07348f !important;
    color:white !important;
  }
  
  .custom-q-date-WNR, .custom-q-date-DFR, .custom-q-date-DBO, .custom-q-date-GBC, .custom-q-date-SPX, .custom-q-date-GJI, .custom-q-date-GKS, .custom-q-date-WRC .q-date__header {
    background-color: #db4035 !important;
    color:white !important;
  }
  
  .custom-q-date-DJM, .custom-q-date-DTU .q-date__header {
    background-color: #184d85 !important;
    color:white !important;
  }
  
  .custom-q-date-RBG, .custom-q-date-RBS .q-date__header {
    background-color: #a8479a !important;
      color:white !important;
  }
  